

.navbar {
  box-shadow: -21.213px 21.213px 30px 0 rgb(158 158 158 / 30%);
  max-width: 100vw;
}




body{
  font-family:'Poppins', sans-serif; 
   overflow-x: hidden;
}


.title-container-fluid {
  height: auto;
}
.mobile{
  transform: rotate(-6deg);


   animation: float 2s ease infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
} 
.main-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 55px;
  text-align: start;

}

.m-target{
  text-align: start;
}



/* Media Quaery */

@media(max-width: 990px){

.main-heading {
  text-align: center;
  
}
.m-target{
  text-align: center;
}

.m-image{
  width: 7%;
}
.fonts{
  width: 2%;
}


}


@media (max-width:765px){
  .five-text{
      text-align: center;
  }
}



/* media quaery */

.nav-link{
 color: black;

}

.nav-link:hover{
  color: #3ea7ff;
  
}


.header-btn{
  
      background-color: #fff;
      padding: 8px 35px;
      font-weight: 600;
      color: #222;
      box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
      border: 1px solid transparent;
      border-radius: 20px;
      text-decoration: none;
  }
  .header-btn:hover{
      border: solid white 1px;
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
      color: #fff;
     
  }

  /* Categories */

.section-gap{
     padding: 120px 0px;
  }
.padding-bottom{
  padding-bottom: 60px;
}


.see-details{
  
  background-color:#3cb0fd;
  padding: 8px 35px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
  border: 1px solid transparent;
  border-radius: 20px;
  text-decoration: none;
}
.see-details:hover{
  border: solid white 1px;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #f7fcff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid black;
 
}

.dive-hover{
  background-color: #8c87871c;
  transition: all 0.3s ease 0s
  
}


.dive-hover:hover{
  background-image:linear-gradient(0deg,#3ea7ff 0%,#42d1ff 100%);;
  box-shadow: 0px 20px 20px 0px rgb(157 157 157 / 50%);
  color: #fff;
  border: #212529;
 

}

/* Features */

.pb-bottom{
  padding-bottom: 60px;
}

.hover-colls{
  transition: all 0.3s ease 0s;
}


.hover-colls:hover{
  border: solid white 1px;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 20px 20px 0px rgb(157 157 157 / 50%);
  color: #fff;
}


.new-btn{  
  background-color: #fff;
  padding: 25px 40px;
  font-weight: 600;
  color: #222;
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
  border: 1px solid transparent;
  text-decoration: none;
  width: 240px;
  margin: 20px;
}
.new-btn:hover{
  border: solid white 1px;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #fff;
}




.jumping-boy{
  filter: brightness(0.5);
}






 .video-area {
  
  padding: 200px 0 60px 0;
  position: relative;
  /* background: url(./video-bg.jpg.webp) no-repeat center center/cover; */
  height: 74vh;
  overflow: hidden;

}
.overlay-bg {
  
  opacity: .6;
  background-image:linear-gradient(0deg,#3ea7ff 0%,#42d1ff 100%);;
  height: 74vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} 

/* Some FEATURES */
.effect-h:hover{
  filter: brightness(0.8);
  background-image:linear-gradient(0deg,#3ea7ff 0%,#42d1ff 100%);;
  
}
.card-body{

  
  transition: all 0.3s ease 0s;
}
.card-body:hover{
  background-image:linear-gradient(0deg,#3ea7ff 0%,#42d1ff 100%);;
  box-shadow: 0px 20px 20px 0px rgb(157 157 157 / 50%);
  color: #fff;

} 






/* section download */

#download{
  padding: 87px 0px;

  background:linear-gradient(0deg,#3ea7ff 0%,#42d1ff 100%);;
}
/* footer */
ul li{
  text-decoration: none;
   list-style: none;
   line-height: 3;
  
}
li a{
  text-decoration: none;
}
footer{
  background-color: #212529;
}

.place{
  border-radius: 90px;
  padding: 5px 18px  ;
}
#pricing{
  margin-bottom: 30px;

}

